---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Nep">
  <h1 class="text-3xl font-bold mb-4">Nep</h1>
  <p class="text-lg">Developer, writer, reader.</p>
</BaseLayout>
