html {
  font-size: 10px;
  font-family: sans-serif;
  background-color: #eeeeee;
}

h1, h2 {
  font-family: 'Lexend Peta', sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1rem 0 0 0;
}

h2 {
  font-size: 1.9rem;
  margin: 1rem 0rem 1rem 0rem;
}

h3 {
  font-size: 1.8rem;
  margin: 1rem 0 0 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

div {
  font-size: 3rem;
  text-align: center;
}

p, li {
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

i {
  color: black;
  margin: 1rem;
}

i:hover{
  color: red;
}

span:hover {
  color: blue;
}

hr {
  width: 22rem;
  padding: 0;
}